@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --mainFont: 'Fredoka One', sans-serif;
    --background: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
    --fontColor: #f4f4f4;
    --button: rgba(255, 255, 255, 0.308);
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100vh;
    font-size: 14px;
    font-family: var(--mainFont);
    background-image: var(--background);
}

button {
    background-color: var(--button);
    margin: 0px 15px;
    border-radius: 50%;
}

h1, h2, p {
    color: var(--fontColor);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.play-container, .bottom-section {
    margin: 3rem 0rem;
}

.rock, .paper, .scissors {
    height: 15vh;
    width: 15vh;
}

.score {
    padding: 20px;
}

.display {
    margin: 2rem 0rem;
    display: inline-flex;
    justify-content: space-around;
}

.user-choice, .pc-choice {
    width: 20vh;
    height: 20vh;
    margin: 0rem 2rem;
    border: 1px solid white;
    background-color: var(--button);
    border-radius: 50%;
}

.user-play {
    display: inline-flex;
}

.win {
    font-size: 1.5rem;
}

.btn {
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: var(--mainFont);
    color: var(--fontColor);
    background-color: rgba(21, 255, 0, 0.411);
}

.footer {
    color: var(--fontColor);
}

.footer a {
    color: var(--fontColor);
    text-decoration: none;
}

.footer a:hover {
    font-style: italic;
}